<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <service
            android:name=".ChenLuAccessibilityService"
            android:exported="false"
            android:label="@string/chenlu_accessibility_label"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/chenlu_accessibility_config" />
        </service>
    </application>
</manifest>
